* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardBtn {
  width: 275px;
  height: 350px;
  outline: none;
  border: none;
  border-radius: 8px;
  transition: transform 0.4s;
}

.cardBtn:hover {
  background-color: pink;
  transform: scale(1.1);
  cursor: pointer;
}

img {
  width: 100%;
  padding: 10px;
  aspect-ratio: 1/1;
}

section {
  display: grid;
  grid-template-columns: repeat(6, 275px);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  gap: 30px;
}

.scores {
  background-color: pink;
}

